
[Desktop Entry]
Name=Plants vs Zombies
Type=Application
Comment=The game Plants vs Zombies
Exec=plants-vs-zombies-2009
TryExec=plants-vs-zombies-2009
Icon=plants-vs-zombies-2009
Categories=Game;
