[Desktop Entry]
Name=Need For Speed - Most Wanted
Type=Application
Comment=Need For Speed - Most Wanted
Exec=need-for-speed9
TryExec=need-for-speed9
Icon=need-for-speed9
Categories=Game;
