
[Desktop Entry]
Name=Angry Birds Seasons
Type=Application
Comment=Angry Birds Seasons
Exec=angry-birds-seasons
TryExec=angry-birds-seasons
Icon=angry-birds-seasons
Categories=Game;
