[Desktop Entry]
Name=Need For Speed - Underground 2
Type=Application
Comment=Need For Speed - Underground 2
Exec=need-for-speed8
TryExec=need-for-speed8
Icon=need-for-speed8
Categories=Game;
