[Desktop Entry]
Name=Need For Speed - Carbon
Type=Application
Comment=Need For Speed - Carbon
Exec=need-for-speed10
TryExec=need-for-speed10
Icon=need-for-speed10
Categories=Game;
