[Desktop Entry]
Name=Cisco Heat
Type=Application
Comment=DOS game Cisco Heat
Exec=ciscoheat
TryExec=ciscoheat
Icon=/usr/share/pixmaps/dosbox.ico
Categories=Game;
