[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Braid
GenericName=Braid
Comment=Time-bending puzzle video game
Icon=braid
Exec=/usr/games/bin/braid
TryExec=/usr/games/bin/braid
Categories=Game;
