[Desktop Entry]
Name=Need For Speed - Hot Pursuit Reloaded
Type=Application
Comment=Need For Speed - Hot Pursuit Reloaded
Exec=need-for-speed11
TryExec=need-for-speed11
Icon=need-for-speed11
Categories=Game;
